@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1in;
    background-color: white;
}

.footer-links-left {
    position: fixed;
    left: 15px;
}

.contacts {
    color: #000000;;
    font-family: 'Poppins';
    font-size: 15px;
}

.footer-contacts {
    color: #000000;;
    font-family: 'Poppins';
    font-size: 10px;
}

.footer-title {
    color: #071598;
    font-family: 'Sansita';
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.footer-links-right {
    position: fixed;
    right: 25px;
}

.footer-links-container {
    display: flex;
}

.footer-links-no1, .footer-links-no2 {
    list-style-type: none;
}

.footer-links-no1 a, .footer-links-no2 a {
    color: #000000;;
    font-family: 'Poppins';
    font-size: 12px;
}

.footer-links-no2 {
    margin-left: 100px;
}
